*.pyc
venv/
.vscode/
.idea/
__pycache__/
logs/
data/
conf/channel.conf
conf/setting.conf
conf/setting.yaml
conf/channel.yaml
tmp/
cookies.json
*.mp4
*.mp4.part
*.webm
*.flv
*.jpg
qrcode.png
config.yaml
